src/test/resources/test-mule-config.xml
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:odataelk="http://www.mulesoft.org/schema/mule/odataelk" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/odataelk http://www.mulesoft.org/schema/mule/odataelk/current/mule-odataelk.xsd">

    <configuration-properties doc:name="Configuration properties" doc:id="c923de42-1e79-4d12-9303-9f480c7da381" file="dev.yaml" />
	<flow name="parse">
        <odataelk:transform-to-elk-bool filter="#[payload]" propPrefix="ach.fields" select="#[vars.select default '*']"/>
    </flow>

</mule>
